{% extends 'layout/basic.html' %}

{% block content_default %}
<form method="post">
    {% csrf_token %}
    <textarea id="id_body" name="body" style="min-width: 100%;min-height: 120px;max-height: 450px;border: 1px solid rgb(129,131,135);border-radius: 7px;margin-top: 5px;" oninput="auto_grow(this)"></textarea>
    <div>
        <div class="form-check d-inline-block">
            <input id="id_is_published" class="form-check-input" type="checkbox" name="is_published" />
            <label class="form-check-label" for="formCheck-1">доступно только друзьям</label>
        </div>
        <button class="btn btn-primary float-end" type="submit">Опубликовать</button>
    </div>
</form>
{% endblock %}