{% extends 'layout/basic_content.html' %}

{% block content_default %}
<div class="row">
    <div class="col-auto">
        <a class="btn btn-primary d-none d-lg-block btn-back" type="button" href="{% url 'blog:detail' note.id %}">Вернуться</a>
        <a class="btn btn-primary d-block float-start d-lg-none btn-back-min" type="button" href="{% url 'blog:detail' note.id %}">◀</a>
    </div>
    <div class="col d-flex flex-column justify-content-end align-items-end flex-sm-row justify-content-sm-end justify-content-md-end">
        {% if note_prev %}
        <a class="btn btn-primary" type="button" style="width: 180px;" href="{% url 'blog:update' note_id=note_prev.id %}">Предыдущая</a>
        {% else %}
        <a aria-disabled="true" class="btn disabled" type="button" style="width: 180px;">Предыдущая</a>
        {% endif %}
        {% if note_next %}
        <a class="btn btn-primary" type="button" style="width: 180px;" href="{% url 'blog:update' note_id=note_next.id %}">Следующая</a>
        {% else %}
        <a aria-disabled="true" class="btn disabled" type="button" style="width: 180px;">Следующая</a>
        {% endif %}
    </div>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.body }}
    <div>
        <div class="form-check d-inline-block">
            {{ form.is_published }}
            <label class="form-check-label" for="{{ form.is_published.id_for_label }}">доступно только друзьям</label>
        </div>
        <button class="btn btn-primary float-end" type="submit">Сохранить</button>
    </div>
    <a class="btn btn-danger" type="button" style="margin-top: 15px;" href="{% url 'blog:delete' note.id %}">Удалить заметку</a>
</form>
{% endblock %}